<a href="https://colab.research.google.com/github/wunderkimiko/sales-predictions/blob/main/Project_1_Part_5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
import pandas as pd
salespreddf = pd.read_csv('/content/drive/MyDrive/Coding Dojo/Data Sets/sales_predictions.csv')
salespreddf.head()

  Item_Identifier  Item_Weight  ...        Outlet_Type  Item_Outlet_Sales
0           FDA15         9.30  ...  Supermarket Type1          3735.1380
1           DRC01         5.92  ...  Supermarket Type2           443.4228
2           FDN15        17.50  ...  Supermarket Type1          2097.2700
3           FDX07        19.20  ...      Grocery Store           732.3800
4           NCD19         8.93  ...  Supermarket Type1           994.7052

[5 rows x 12 columns]

In [4]:
salespred1df = salespreddf
salespred1df['Item_Weight']=salespred1df['Item_Weight'].fillna(salespred1df['Item_Weight'].mean())

In [5]:
salespred2df = salespred1df.drop(columns=['Item_Weight','Outlet_Size','Outlet_Establishment_Year'])
salespred2df.head()

  Item_Identifier Item_Fat_Content  ...        Outlet_Type Item_Outlet_Sales
0           FDA15          Low Fat  ...  Supermarket Type1         3735.1380
1           DRC01          Regular  ...  Supermarket Type2          443.4228
2           FDN15          Low Fat  ...  Supermarket Type1         2097.2700
3           FDX07          Regular  ...      Grocery Store          732.3800
4           NCD19          Low Fat  ...  Supermarket Type1          994.7052

[5 rows x 9 columns]

In [6]:
salespred2df['Item_Fat_Content'].replace(to_replace='LF',value='Low Fat', inplace=True)

In [7]:
salespred2df['Item_Fat_Content'].replace(to_replace='low fat',value='Low Fat', inplace=True)

In [8]:
salespred2df['Item_Fat_Content'].replace(to_replace='reg', value='Regular', inplace=True)

In [9]:
salespred2df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8523 entries, 0 to 8522
Data columns (total 9 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Item_Identifier       8523 non-null   object
 1   Item_Fat_Content      8523 non-null   object
 2   Item_Visibility       8523 non-null   float64
 3   Item_Type             8523 non-null   object
 4   Item_MRP              8523 non-null   float64
 5   Outlet_Identifier     8523 non-null   object
 6   Outlet_Location_Type  8523 non-null   object
 7   Outlet_Type           8523 non-null   object
 8   Item_Outlet_Sales     8523 non-null   float64
dtypes: float64(3), object(6)
memory usage: 599.4+ KB

In [10]:
# Spend time transforming your categorical variables into numbers and use dummy encoding where appropriate.
#transform Item_Fat_Content
#transform Item_Type
spdf = pd.get_dummies(salespred2df, columns=['Item_Identifier','Item_Fat_Content','Item_Type',
                                             'Outlet_Identifier','Outlet_Location_Type','Outlet_Type'], drop_first=True)
spdf.head()

   Item_Visibility  ...  Outlet_Type_Supermarket Type3
0         0.016047  ...                              0
1         0.019278  ...                              0
2         0.016760  ...                              0
3         0.000000  ...                              0
4         0.000000  ...                              0

[5 rows x 1591 columns]

In [11]:
# Assign the "Item_Outlet_Sales" column as your target and the rest of the variables as your features matrix. 
y = spdf['Item_Outlet_Sales']
X = spdf.drop(['Item_Outlet_Sales'], axis = 1)

In [12]:
# Be sure to train test split your data set!
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state = 42)

In [20]:
# Build a linear regression model.
from sklearn.linear_model import LinearRegression
reg = LinearRegression()
reg.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
# Evaluate your test set results using r2.
test_score = reg.score(X_test, y_test)
print(test_score)

-1.6174424526618032e+16

In [18]:
train_score = reg.score(X_train, y_train)
print(train_score)

0.6716912252857203

In [15]:
# Evaluate your test set results using RMSE

In [22]:
from sklearn.metrics import mean_squared_error
import numpy as np
print('Training RMSE:', np.sqrt(mean_squared_error(y_train, reg.predict(X_train))))
print('Testing RMSE:', np.sqrt(mean_squared_error(y_test, reg.predict(X_test))))

Training RMSE: 985.7054713119429
Testing RMSE: 211245993837.2372